<div class="w3-content" style="max-width:1100px">
    <div class="w3-panel card-contenido w3-padding-24 w3-margin-top w3-card">

        <table class="w3-table w3-striped w3-bordered">
            <tr class="w3-theme-d2">
                <th>#</th>
                <th>Sector</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Precio</th>
                <th>Fecha</th>
            </tr>
            {{#reservas}}
            <tr>
                <td>{{id}}</td>
                <td>{{sector}}</td>
                <td>{{nombre_completo}}</td>
                <td>{{dni}}</td>
                <td>{{email}}</td>
                <td>{{telefono}}</td>
                <td>${{precio}}</td>
                <td>{{fecha_reserva}}</td>
            </tr>
            {{/reservas}}
        </table>

        <a href="/php-mvc/" class="w3-button w3-light-grey w3-round w3-margin-top">Volver</a>
    </div>
</div>
